{% extends "base.html" %}

{% load static %}

{% block extratitle %} &nbsp||&nbsp Review for {{ category.friendly_name }} {% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/form-inputs.css' %}">
{% endblock %}

<!-- Page header for spacing -->
{% block page_header %}
    <div class="container container-header">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section id="content" class="container">
        <h1 class="display-3 text-center text-md-start ps-md-5 mt-5 mb-3">Write a Review - {{ category.friendly_name }}</h1>
        <h2 class="text-center text-md-start ps-md-5 mb-5">Fill out the form below write a review on the {{ category.friendly_name }} classes at Gym Fit </h2>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <!-- Write A Review Form -->
                <form action="{% url 'create_a_category_review' category.id %}" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-center my-5">
                        <a href="{% url 'view_single_class_category' category.id %}" class="btn btn-dark">Cancel</a>
                        <button type="submit" class="btn btn-dark blue-button">Submit Review</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}