{% extends "base.html" %}

{% load static %}

{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/classes.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container container-header">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section id="content" class="container">
        <h1 class="display-3 text-center text-md-start ps-md-5 mt-5 mb-3">Shopping Bag</h1>
        <div class="mt-4 mb-5">
            {% if product_count > 0 %}
                {% if bag.class_access_package.item_id %}
                    <h3>Class Access Package</h3>
                    {{ bag.class_access_package.package_object.friendly_name }}
                {% endif %}

                {% if bag.single_classes|length > 0 %}
                    <h3>Single Exercise Classes</h3>
                    {% for item in bag.single_classes %}
                    <p>
                        {{ item.exercise_class_object }}
                    </p>
                    {% endfor %}
                {% endif %}
            
            {% else %}
                <h2 class="mb text-center">Your bag is empty</h2>
            {% endif %}
        </div>
        <div class="text-center">
            <a class="btn btn-dark mt-2" href="{% url 'filter_single_classes' %}">More Classes</a>
            <a class="btn btn-dark mt-2" href="{% url 'view_class_access_packages' %}">Class Packages</a>
        </div>
        <div class="text-center text-md-end mt-4">
            <a class="btn btn-dark blue-button mt-2" href="#">Proceed To Checkout</a>
        </div>
    </section>
{% endblock %}