{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container container-header">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="content" class="container-fluid g-0">
        <div id="hero-image">
            <div class="row g-0">
                <div class="col-12">
                    <h1 class="display-5 text-center text-sm-start ms-sm-5 mt-3 mt-sm-5">Welcome to Community Fitness</h1>
                </div>
                <div class="col-12 text-center text-sm-start">
                    <img class="hero-logo" src="media/gym-fit-logo.png" alt="Gym Fit Logo">
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="d-none d-sm-block col-sm-6 text-center">
                <img id="teamwork-image" src="media/gym-teamwork.jpg" alt="Two hands clasping in a handshake">
            </div>
            <div class="col-12 col-sm-6">
                <div class="vetical-center">
                    <h5 class="text-center mt-5 mx-2 my-sm-0 ms-sm-0 py-sm-2 me-sm-3 me-md-5">
                        Gym Fit is a community based fitness centre designed to bring people together to enjoy the experience of 
                        group fitness, reap the benefits of having a healthier lifestyle and meet like minded people along the way
                    </h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}