{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container container-header">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="content" class="container-fluid g-0">
        <div id="hero-image">
            <div class="row g-0">
                <div class="col-12">
                    <h1 class="display-5 text-center text-sm-start ms-sm-5 mt-3 mt-sm-5">Welcome to Community Fitness</h1>
                </div>
                <div class="col-12 text-center text-sm-start">
                    <img class="hero-logo" src="media/gym-fit-logo.png" alt="Gym Fit Logo">
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="d-none d-sm-block col-sm-6 text-center">
                <img id="teamwork-image" src="media/gym-teamwork.jpg" alt="Two hands clasping in a handshake">
            </div>
            <div class="col-12 col-sm-6">
                <div class="vertical-center">
                    <p class="text-center mt-5 mx-2 my-sm-0 ms-sm-0 py-sm-2 me-sm-3 me-md-5">
                        Gym Fit is a community based fitness centre designed to bring people together to enjoy the experience of 
                        group fitness, reap the benefits of having a healthier lifestyle and meet like minded people along the way
                    </p>
                </div>
            </div>
        </div>
    </div>
    <section id="our-team" class="container-fluid g-0">
        <div class="our-team-container py-big">
            <h1 class="text-center w-100 display-3 text-blue">Our Team</h1>
            <div class="team-cards-container py-big">
                <div class="trainer-card">
                    <img src="media/instructor-3.jpg" alt="trainer-image">
                    <p class="text-uppercase">Trainer Name</p>
                </div>
                <div class="trainer-card">
                    <img src="media/instructor-3.jpg" alt="trainer-image">
                    <p class="text-uppercase">Trainer Name</p>
                </div>
                <div class="trainer-card">
                    <img src="media/instructor-3.jpg" alt="trainer-image">
                    <p class="text-uppercase">Trainer Name</p>
                </div>
                <div class="trainer-card">
                    <img src="media/instructor-3.jpg" alt="trainer-image">
                    <p class="text-uppercase">Trainer Name</p>
                </div>
                <div class="trainer-card">
                    <img src="media/instructor-3.jpg" alt="trainer-image">
                    <p class="text-uppercase">Trainer Name</p>
                </div>
                <div class="trainer-card">
                    <img src="media/instructor-3.jpg" alt="trainer-image">
                    <p class="text-uppercase">Trainer Name</p>
                </div>
                <div class="trainer-card">
                    <img src="media/instructor-3.jpg" alt="trainer-image">
                    <p class="text-uppercase">Trainer Name</p>
                </div>
                <div class="trainer-card">
                    <img src="media/instructor-3.jpg" alt="trainer-image">
                    <p class="text-uppercase">Trainer Name</p>
                </div>
            </div>
        </div>
    </section>
    <section id="shop-and-bar" class="container-lg py-big">
        <div class="row g-0">
            <div class="col-12 text-center">
                <h2 class="mb-3">Health Bar</h2>
            </div>
            <div class="col-12 col-md-6">
                <img id="smoothie-1" src="media/smoothie-portrait.jpg" alt="Smoothies from out Health Bar">
                <img id="smoothie-2" class="d-none d-md-block" src="media/smoothie-landscape.jpg" alt="Smoothies from out Health Bar">
            </div>
            <div class="col-12 col-md-6 text-center">
                <div class="vertical-spread">
                    <p>
                        Come in and try our range of smoothies, protien shakes and smoothies along with a menu of health a delishous snacks and dishes.
                    </p>
                    <p>
                        From a post work out snack to a lunch meet up with friends, our heath bar is the place to go
                    </p>
                    <p>
                        The Health Bar Opening Hours: 8 am to 7 pm Monday to Saturday, 10 am to 4pm on Sunday
                    </p>
                </div>
            </div>
        </div>

        <div class="row g-0">
            <div class="col-12 text-center">
                <h2 class="mt-5 mb-3">Shop</h2>
                <p>
                    We have a shop on onsite that carries a wide range of products from gym essentials, like waterbottles and towels, to branded apparell and sports equipment.
                </p>
            </div>
            <div class="col-12 col-md-6 text-center">
                <div class="vertical-spread p-md-2">
                    <p>
                        Our product select is sourced from ethical and enviromentally consious producers.
                    </p>
                    <p>
                        Pop in for more details on all the items we stock.
                    </p>
                    <p>
                        Shop Opening Hours: 8 am to 7 pm Monday to Saturday, 10 am to 4pm on Sunday
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6 text-center">
                <img id="shop-image" src="media/small-fitness-equipment.jpg" alt="Fitness Equipment">
            </div>
        </div>
    </section>
    <section>
        <div id="home-find-us" class="container-fluid text-center px-5 py-big">
            <p class="mb-0 display-3">
                <i class="fa-brands fa-instagram"></i>
            </p>
            <p class="">
                Follow us at @GYMFITLONDON for the latest news and offers
            </p>
            <p class="mb-0 display-3">
                <i class="fa-solid fa-location-arrow"></i>
            </p>
            <p>
                Drop in and find out more about us and what we can offer at 87-95 Rye Ln, London SE15 4TG
            </p>
        </div>
    </section>
{% endblock %}