{% extends "base.html" %}

{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container container-header">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section id="content" class="container">
        <h1 class="display-3 text-center text-md-start ps-md-5 mt-5 mb-3">Order Review</h1>
        <h5 class="mb-1 fw-bold">Thank You for your Order </h5>
        <h5 class="mb-5">Your order information is below. A confirmation email will be sent to {{ order.email }} </h5>
        <div class="row">
            <div class="col-12 col-md-6">
               <fieldset>
                   <legend>Customer Information</legend>
                   
               </fieldset>
            </div>
            <div class="col-12 col-md-6">
                
            </div>
        </div>
    </section>
{% endblock %}
