.nav-pills {
    flex-direction: column;
    align-content: center;
}

.nav-pills li {
    margin: 0.25rem 0;
}

.nav-pills .nav-link {
   background-color: #000;
   border: 2px solid #000;
   padding: 0.5rem 1rem;
   color: #fafafa;
   width: 260px !important;
}

.nav-pills .nav-link:hover {
    background-color: #2AAFD3;
}

.nav-pills .nav-link.active {
    background-color: #2AAFD3 !important;
}

/* Profile Forms */

.stripe-style-input, .input-group {
    box-sizing: border-box;
    border: 1px solid #2AAFD3;
    border-radius: 0.25rem;
    background-color: fafafa;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.stripe-style-input:not([type="file"]) {
    padding: 10px 12px;
}

.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
  border: 1px solid #2AAFD3;
}

.stripe-style-input:focus:not([type="file"]),
.stripe-style-input:active:not([type="file"]) {
    border: 2px solid #2AAFD3;
    padding: 9px 11px;
}


.stripe-style-input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

.profile-section {
    display: none;
}
