/* Profile Nav Pill Menu Display */

/* Hide all the setions on the profile page */
.profile-section {
    display: none;
}

.nav-pills {
    flex-direction: column;
    align-content: center;
}

.nav-pills li {
    margin: 0.25rem 0;
}

.nav-pills .nav-link {
   background-color: #000;
   border: 2px solid #000;
   padding: 0.5rem 1rem;
   color: #fafafa;
   width: 260px !important;
}

.nav-pills .nav-link:hover {
    background-color: #2AAFD3;
}

.nav-pills .nav-link.active {
    background-color: #2AAFD3 !important;
}

/* Profile Form */

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

