/* AllAuth Forms */

p a {
    text-decoration: none;
    font-weight: 600;
    color: #000;
    transition: ease-in-out .3s;
}

p a:hover {
    color: #2AAFD3;
}

#allauth-content {
    min-height: calc(100vh - 200px)
}

.allauth-form-inner-content .text-center {
    margin-top: 2rem;
    margin-bottom: 3rem
}

.allauth-form-inner-content label:not([for='id_remember']){
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}