body {
    font-family: 'Open Sans', sans-serif;
}

body p {
    font-size: 1.2rem;
}

footer p, nav p {
    font-size: 1rem;
}

h1, h2, h3 ,h4, h5 {
    font-family: 'Overlock', cursive;
}

.blue-button {
    background-color: #2AAFD3;
}

.hover-blue:hover, footer a:hover, hr {
    color:#2AAFD3;
    font-weight: 500;
    transition: 0.1s ease-in-out;
}

#content {
    min-height: calc(100vh - 388px)
}

.vertical-center {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.vertical-spread {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.mt-big {
    margin-top: 12vh;
}

.pt-big {
    padding-top: 12vh;
}

.py-big {
    padding-top: 12vh;
    padding-bottom: 12vh;
}

/* Colours */

#top-nav, footer, #our-team, #home-find-us {
    background-color: #353535;
}

#top-nav a, .text-blue, #home-find-us {
    color: #2AAFD3;
}

/* Navbar */


#main-nav {
    padding: 0;
    background-color: #fafafa;
}

#main-nav ul a {
    font-size: 1.2em;
    padding: 1em 1.5em;
}

#main-nav img {
    height: 100px;
}

#class-mobile-nav-collapse {
    list-style: none;
    padding-left: 0;
    font-size: 0.8em;
}

@media(min-width:997px) {
    #main-nav img {
        padding: 0 0 0 5vw;
    }
    #main-nav ul a {
        padding: 1em 2.2em;
    }
}

/* Container Header */

.container-header {
    padding-top: 140px;
}

/* Hero Image */

#hero-image {
    height: 300px;
    background: url('/media/homepage-hero-image.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}

#hero-image h1 {
    height: 140px;
    font-weight: 500;
}

.hero-logo {
    height: 180px;
    width: 180px;
    margin: 0 auto;
}

#teamwork-image {
    width: 75%;
    max-width: 500px;
    position: relative;
    margin: -65px 0 15px;
}

@media(min-width:575px) {
    .hero-logo {
        height: 200px;
        width: 200px;
        position: absolute;
        top: 112px;
        right: calc(30% - 100px);
    }
    #hero-image {
        height: 400px;
    }
    #hero-image h1 {
        margin-left: 12vw !important;
    }
}

@media(min-width:768px) {
    #hero-image h1 {
        width: 530px;
    }
}

@media(min-width:997px) {
    #hero-image {
        height: 650px;
    }
    #hero-image h1 {
        margin-top: 8vh !important;
        margin-left: 15vw !important;
    }
    .hero-logo {
        height: 340px;
        width: 340px;
        position: absolute;
        top: 180px;
        right: calc(28% - 100px);
    }
}

/* Our Team */

.our-team-container {
    height: 100%;
    min-height: 345px;
}

.team-cards-container, .our-team-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.team-cards-container {
    max-width: 1200px;
}

.trainer-card {
    display: relative;
    width: 280px;
}

.trainer-card img {
    width: 230px;
}

.trainer-card p {
    transform: rotate(90deg);
    transform-origin: right top;
    position: absolute;
    color: #fafafa;
    font-size: 2em;
    margin-top: -55px;
    padding-right: 52px;
    margin-bottom: 0;
}

/* Bar and Shop */

#smoothie-1 {
    width: 20vw;
    min-width: 210px;
    margin-left: 30px;
    float: left;
}

.smoothie-2 {
    width: 35vw;
    min-width: 260px;
}

#shop-image {
    width: 35vw;
    min-width: 260px;
}

@media(min-width:768px) {
    .smoothie-2 {
        width: 35vw;
        min-width: 360px;
        margin-top: -120px;
        margin-right: 25px;
        float: right;
    }
}

/* Map */

#map {
    padding: 4rem 1rem;
    overflow: hidden;
    text-align: center;
}

#map img {
    width: 100%;
    min-width: 438px;
    min-height: 200px;
}


/* Mobile Menu - template taken from W3 documentation */
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 0%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: #353535; /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 15%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
}
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 1.6em;
    color: #fafafa;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}
  
/* When you mouse over the navigation links, change their color */
    .overlay a:hover, .overlay a:focus, .closebtn {
    color: #2AAFD3 !important;
}
  
  /* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#mobileNav img {
    width: 33%;
}

#mobileNav hr {
    height: 3px;
}
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* Footer */

footer {
    color: #fafafa;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer img {
    width: 100%;
    max-width: 200px;
}

.footer-link-container, .footer-service-description {
    height: 100%;
    max-height: 245px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}

.footer-service-description{
    max-width: 250px;
    margin: 0 auto;
}

#footer-socials {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

#footer-socials a {
    text-align: center;
    font-size: 1.8rem;
    padding: 15px 5vw;
}

@media(min-width:768px) {
    #footer-socials {
        flex-direction: column;
    }
    #footer-socials a {
        padding: 5px 0;
    }
}