body {
    font-family: 'Open Sans', sans-serif;
}

footer p, nav p {
    font-size: 1rem;
}

h1, h2, h3 ,h4, h5 {
    font-family: 'Overlock', cursive;
}

.blue-button {
    background-color: #2AAFD3;
    color: #000;
    font-weight: 500;
}

#home-find-us {
    background-color: #E0A458;

}

.hover-blue:hover, footer a:hover, hr {
    color:#2AAFD3;
    font-weight: 500;
    transition: 0.1s ease-in-out;
}

#content {
    min-height: calc(100vh - 388px)
}

.vertical-center {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.vertical-spread {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.mt-big {
    margin-top: 12vh;
}

.pt-big {
    padding-top: 12vh;
}

.py-big {
    padding-top: 12vh;
    padding-bottom: 12vh;
}

.no-button {
    padding: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.no-button:focus {
    box-shadow: none;
}

/* Colours */

.text-grey {
    color: #353535;
}

#content i {
    color: #000;
}

#top-nav a, .text-blue {
    color: #2AAFD3;
}

#top-nav, footer, #our-team{
    background-color: #353535;
}


/* Navbar */


#main-nav {
    padding: 0;
    background-color: #fafafa;
    border-bottom: 5px ridge #2AAFD3;
}

#main-nav ul a {
    font-size: 1.2em;
    padding: 1em 1.4em;
}

#main-nav img {
    height: 100px;
}

#class-mobile-nav-collapse {
    list-style: none;
    padding-left: 0;
    font-size: 0.8em;
}

.blue-background, .dropdown-item.active, .dropdown-item:active {
    background-color: #2AAFD3;
}

.brown-background {
    background-color: #E0A458;
}

#main-nav .dropdown-menu.show {
    border: 2px solid #353535;
    margin-top: 19px;
    padding: 0;
}

#main-nav .dropdown-item {
    padding: 1.8em 2.2em;
}

#top-nav .dropdown-menu.show {
    margin-top: 0;
    padding: 0;
}

#top-nav .dropdown-item {
    padding: 0.79rem 1rem;
}

@media(min-width:997px) {
    #main-nav img {
        padding: 0 0 0 5vw;
    }
    #main-nav ul a {
        padding: 1em 2.2em;
    }
}

/* Container Header */

.container-header {
    padding-top: 140px;
}

/* Mobile Menu - template taken from W3 documentation */
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 0%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: #353535; /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 15%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
}
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 1.6em;
    color: #fafafa;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}
  
/* When you mouse over the navigation links, change their color */
    .overlay a:hover, .overlay a:focus, .closebtn {
    color: #2AAFD3 !important;
}
  
  /* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#mobileNav img {
    width: 33%;
}

#mobileNav hr {
    height: 3px;
}
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* Footer */

footer {
    color: #fafafa;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer img {
    width: 200px;
}

.footer-link-container, .footer-service-description {
    height: 100%;
    max-height: 245px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}

.footer-service-description{
    max-width: 250px;
    margin: 0 auto;
}

#footer-socials {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

#footer-socials a {
    text-align: center;
    font-size: 1.8rem;
    padding: 15px 5vw;
}

@media(min-width:768px) {
    #footer-socials {
        flex-direction: column;
    }
    #footer-socials a {
        padding: 5px 0;
    }
}

/* Toasts */

.toast-container {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999999;
    background-color: #fafafa;
}

.toast-container i {
    margin-right: 10px;
}

.bag-items-notification {
    max-height: 200px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 3px solid rgba(42, 175, 211, .5);
    padding: 10px 5px 0;
    border-radius: 0.25rem;
}

/* Fade on load */

.fade-on-load {
    opacity: 0;
    visibility: hidden;
    transition: ease-in-out 1.5s;
}

.visible {
    opacity: 1 !important;
    visibility: visible;
    top: 0;
}