 /* Forms */

.form-control,
.stripe-style-input,
.input-group,
.form-select,
.form-check-input {
    box-sizing: border-box;
    border: 1px solid #2AAFD3;
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.form-control:not([type="file"], [type="checkbox"]),
.stripe-style-input:not([type="file"], [type="checkbox"]),
.form-select {
    padding: 10px 12px;
}

.form-control:focus, 
.form-control:active,
.form-check-input:focus, 
.form-check-input:active,
.stripe-style-input:focus,
.stripe-style-input:active,
.form-select:focus,
.form-select:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
  border: 1px solid #2AAFD3;
}

.form-control:focus:not([type="file"], [type="checkbox"]),
.form-control:active:not([type="file"], [type="checkbox"]),
.stripe-style-input:focus:not([type="file"], [type="checkbox"]),
.stripe-style-input:active:not([type="file"], [type="checkbox"]) {
    border: 2px solid #2AAFD3;
    padding: 9px 11px;
}

.form-check-input:checked {
    background-color: #2AAFD3;
    border-color: #2AAFD3;
}

.form-check-input {
    width: 1.2em;
    height: 1.2em;
    margin-top: 0.18em;
}

.form-control::placeholder,
.stripe-style-input::placeholder {
    color: #aab7c4;
}