/* Forms */

.stripe-style-input, .input-group {
    box-sizing: border-box;
    border: 1px solid #2AAFD3;
    border-radius: 0.25rem;
    background-color: fafafa;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.stripe-style-input:not([type="file"]) {
    padding: 10px 12px;
}

.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
  border: 1px solid #2AAFD3;
}

.stripe-style-input:focus:not([type="file"]),
.stripe-style-input:active:not([type="file"]) {
    border: 2px solid #2AAFD3;
    padding: 9px 11px;
}