.package-type-divider {
    width: 75%;
    min-width: 180px;
    margin: 8vh auto 7vh;
    height: 5px !important;
}

#content {
    margin-bottom: 12vh;
}

button i {
    font-size: 1.2em;
}

.no-button {
    padding: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.popover {
    margin-top: 15px;
}

.package-display-buttons {
    margin: 0 5px;
    color: 000;
}

.package-display-buttons a {
    text-decoration: none;
}