/* Popovers  */

[data-bs-toggle="popover"] {
    padding: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

[data-bs-toggle="popover"] a{
    color: #000;
}

.popover {
    margin-top: 15px;
}