<footer>
    <div class="row g-0">
    <div class="col-12 col-md-1 col-lg-2 order-md-2 pt-md-3">
        <div id="footer-socials">
        <a href="https://www.facebook.com" target="_blank" aria-label="Visit GymFit's Facebook Page">
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com" target="_blank" aria-label="Visit GymFit's Instagram Page">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com" target="_blank"  aria-label="Visit GymFit's Youtube Page">
            <i class="fa-brands fa-youtube"></i>
        </a>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-5 order-md-1">
        <div class="row g-0">
        <div class="col-12 col-md-6 order-md-2">
            <p class="mb-0 px-2 text-center footer-service-description">
            Indoor & Outdoor Fitness Classes | Yoga | Boxing | CrossFit | Strength & Conditioning | HIIT | Community Social Area
            </p>
        </div>
        <div class="col-12 col-md-6 footer-link-container order-md-1">
            <a href="{% url 'home' %}" class=" text-center text-md-end">
            <img src="{{ MEDIA_URL }}gym-fit-logo-white-text-clear.png" alt="Gym Fit Logo">
            </a>
        </div>
        </div>
    </div>
    <div class="col-12 col-md-5 order-md-3">
        <div class="footer-link-container pb-4 pb-md-0 text-white text-center">
            <p class="mb-0 text-blue">GymFit Address</p>
            <p class="mb-0">87-95 Rye Lane</p>
            <p class="mb-0">London</p>
            <p>SE15 4TG</p>
        </div>
    </div>
    </div>
</footer>