<!-- Template for mobile nav taken from W3 website -->
<!-- https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp -->

<!-- The overlay -->
<div id="mobileNav" class="overlay">
    <!-- Button to close the overlay navigation -->
    <button class="closebtn no-button" onclick="closeNav()" type="button">&times;</button>
    <!-- Overlay content -->
    <div class="overlay-content">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'view_class_categories' %}">Our Classes</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#class-mobile-nav-collapse" aria-expanded="false" aria-controls="class-mobile-nav-collapse">
            Book Classes
          </a>
          <ul class="collapse" id="class-mobile-nav-collapse">
            <li><a class="dropdown-item" href="{% url 'classes_this_week' %}">Classes This Week</a></li>
            <li><a class="dropdown-item" href="{% url 'filter_single_classes' %}">Classes By Day</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'view_class_access_packages' %}">Join Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'send_contact_message' %}">Contact</a>
        </li>
      </ul>
      <hr class="h-5 w-75 my-4 mx-auto">
      <a href="{% url 'home' %}">
        <img src="{{ MEDIA_URL }}gym-fit-logo-white-text-clear.png" alt="GymFit logo">
      </a>
    </div>
  </div>