/* Instructor Cards */

.instructor-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.card {
    margin: 5px;
    width: 250px;
}

.card img {
    margin: 0 auto;
    height: 400px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
