/* .instructor-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

p {
    color: green;
}

.card {
    margin: 5px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */