/* Our Classes */

a {
    text-decoration: none;
}

.class_category_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.class_catergory_card {
    height: 380px;
    width: 260px;
    padding: 5px;
    color: #000;
    display: flex;
    border: 2px solid #353535;
    margin: 20px;
}

.class_catergory_card .image-container {
    height: 180px;
    width: 180px;
    object-fit: cover;
    object-position: center;
    margin: 10px auto;
    overflow: hidden;
}

.class_catergory_card img {
    height: 180px;
}

/* Classes By Day */

#date-picker {
    margin: 0 auto;
}

@media(min-width: 768px) {
    #date-picker, #category-filter-select{
        max-width: 300px;
    }
    
}

/* Single Class Category */

#single-category-image {
    width: 100%;
    max-width: 500px;
    float: left;
}