{% extends "base.html" %}

{% load static %}

{% block extratitle %} &nbsp||&nbsp Add An Instructor{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/form-inputs.css' %}">
{% endblock %}

<!-- Page header for spacing -->
{% block page_header %}
    <div class="container container-header">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section id="content" class="container">
        <h1 class="display-3 text-center text-md-start ps-md-5 mt-5 mb-3">Add An Instructor</h1>
        <h2 class="text-center text-md-start ps-md-5 mb-5">Fill out the form below to Add a New Instructor</h2>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <!-- Add an Instructor Form -->
                <form action="{% url 'add_an_instructor' %}" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-center my-5">
                        <a href="{% url 'instructor_management' %}" class="btn btn-dark">Cancel</a>
                        <button type="submit" class="btn btn-dark blue-button">Add Instructor</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}