{% extends "base.html" %}

{% load static %}

{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/form-inputs.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container container-header">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section id="content" class="container">
        <h1 class="display-3 text-center text-md-start ps-md-5 mt-5 mb-3">Edit An Instructor</h1>
        <h2 class="text-center text-md-start ps-md-5 mb-5">You are currently updating the Instructor Profile for {{ instructor.friendly_name }}</h2>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <form action="{% url 'edit_instructor' instructor.id %}" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-center my-5">
                        <a href="{% url 'home' %}" class="btn btn-dark">Cancel</a>
                        <button type="submit" class="btn btn-dark blue-button">Update Instructor</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}