{% extends "base.html" %}

{% load static %}

{% block extratitle %} &nbsp||&nbsp Instructor Management{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'instructors/css/instructor.css' %}">
{% endblock %}

<!-- Page header for spacing -->
{% block page_header %}
    <div class="container container-header">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section id="content" class="container">
        <h1 class="display-3 text-center text-md-start ps-md-5 mt-5 mb-3">Instructor Management</h1>
        <!-- Add an Instructor Button -->
        <div class="text-center text-md-start ps-md-5 mb-5">
            <a href="{% url 'add_an_instructor' %}" class="btn btn-dark blue-button">Add An Instructor </a>
        </div>
        <div class="row g-0">
            <div class="col-12">
                <div class="instructor-card-container">
                    {% if instructors|length > 0 %}
                        {% for instructor in instructors %}
                            <!-- Card Template from Bootstrap 5 Documentation https://getbootstrap.com/docs/5.0/components/card/ -->
                            <div class="card">
                                <div class="card-header text-center brown-background">
                                    <h4 class="card-title mt-2">{{ instructor.friendly_name|title }}</h4>
                                </div>
                                <!-- Image Display -->
                                {% if instructor.image_url %}
                                    <img src="{{ instructor.image_url }}" class="card-img-top" alt="Token image for {{ instructor.friendly_name }}">
                                {% elif instructor.image %}
                                    <img src="{{ MEDIA_URL }}{{ instructor.image }}" class="card-img-top" alt="Token image for {{ instructor.friendly_name }}">
                                {% else %}
                                    <img src="{{ MEDIA_URL }}no-image.jpg" class="card-img-top" alt="Token image for {{ instructor.friendly_name }}">
                                {% endif %}
                                <div class="card-body">
                                    <div>
                                        <!-- Can Lead Classes List -->
                                        <p class="card-text">
                                            Can Lead:
                                            <ul class="list-group">
                                                {% for category in instructor.can_lead_classes_list %}
                                                    <li class="list-group-item brown-background">{{ category.friendly_name }}</li>
                                                {% endfor %}
                                            </ul>
                                        </p>
                                    </div>
                                    <div>
                                        <p class="card-text">Displayed on Website: 
                                            {% if instructor.display_on_site %}
                                                <i class="mt-1 me-2 float-end text-success fa-solid fa-check"></i>
                                            {% else %}
                                                <i class="mt-1 me-2 float-end text-danger fa-solid fa-xmark"></i>
                                            {% endif %}
                                        </p>
                                        <!-- Update and Delete Buttons -->
                                        <div class="row g-0 text-center">
                                            <div class="col-10">
                                                <a href="{% url 'edit_instructor' instructor.id %}" class="btn btn-dark float-start">Edit Instructor</a>
                                            </div>
                                            <div class="col-2">
                                                <a href="{% url 'delete_instructor' instructor.id %}" type="button" class="mt-2 float-center confirm-delete" 
                                                data-bs-container="body" data-bs-trigger="hover focus" data-bs-toggle="popover" data-bs-placement="bottom" 
                                                data-bs-content="Delete Instructor Profile">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                    <!-- Empty Display Message -->
                        <h5 class="text-center">You don't have any instructors. Why don't you add some?</h5>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}