{% extends "base.html" %}

{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'products/css/join_us.css' %}">
{% endblock %}

<!-- Page header for spacing -->
{% block page_header %}
<div class="container container-header">
    <div class="row">
        <div class="col-12"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section id="content" class="container">
    <h1 class="display-3 text-center text-md-start ps-md-5 mt-5 mb-3">Add Class Access Package</h1>
    <h2 class="text-center text-md-start ps-md-5 mb-5">Fill out the form below to create a new package
    </h2>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <!-- Add Class Access Package From -->
            <form action="{% url 'add_class_access_package' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-center mt-5">
                    <a href="{% url 'profile' %}" class="btn btn-dark">Cancel</a>
                    <button type="submit" class="btn btn-dark blue-button">Create Access Package</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        $('select').change(function () {
            if (this.value == "UU"){
                $("#id_amount_of_tokens").prop('disabled', true);
                $("#id_amount_of_tokens").val('');
            } else {
                $("#id_amount_of_tokens").prop('disabled', false);
            }
        })  
    </script>
{% endblock %}