{% extends "base.html" %}

{% load static %}

{% block extratitle %} &nbsp||&nbsp Edit Class Access Package{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'products/css/join_us.css' %}">
{% endblock %}

<!-- Page header for spacing -->
{% block page_header %}
<div class="container container-header">
    <div class="row">
        <div class="col-12"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<section id="content" class="container">
    <h1 class="display-3 text-center text-md-start ps-md-5 mt-5 mb-3">Edit Class Access Package</h1>
    <h2 class="text-center text-md-start ps-md-5 mb-5">Fill out the form below to update the Class Access Package called <strong>"{{ package.friendly_name }}"</strong> </h2>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <!-- Edit Class Access Package From -->
            <form action="{% url 'edit_class_access_package' package.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-center mt-5">
                    <a href="{% url 'view_class_access_packages' %}" class="btn btn-dark">Cancel</a>
                    <button type="submit" class="btn btn-dark blue-button">Update Access Package</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        function delay(time) {
            return new Promise(resolve => setTimeout(resolve, time));
        }
        $('select').change(function () {
            console.log(this.value)
            if (this.value == "UU"){
                $("#id_amount_of_tokens").prop('disabled', true);
                $("#id_amount_of_tokens").val('');
            } else {
                $("#id_amount_of_tokens").prop('disabled', false);
            }
        })  
        $('document').ready(function () {
            if ($('#id_type')[0].value == "UU"){
                $("#id_amount_of_tokens").prop('disabled', true);
                $("#id_amount_of_tokens").val('');
            } else {
                $("#id_amount_of_tokens").prop('disabled', false);
            }
        })
    </script>
{% endblock %}