<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header text-success">
        <i class="fa-solid fa-circle-check"></i>
        <strong class="me-auto">Success</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        <div class="row">
            <div class="col-12">
                {{ message }}
            </div>
        </div>
        {% if total and not on_profile_page or show_bag_on_success %}
            <hr class="mt-1 mb-3">
            <p>Your Bag Item Count: {{product_count}}</p>
            <div class="bag-items-notification">
                <div class="row g-0">
                    {% if bag_items.class_access_package %}
                    <div class="col-8">
                        <p class="fw-bold">{{ bag_items.class_access_package.friendly_name }}</p>
                    </div>
                    <div class="col-4">
                        <p>£{{ bag_items.class_access_package.price }}</p>
                    </div>
                    {% endif %}
                    {% for item in bag_items.single_classes %}
                        <div class="col-4">
                            {{ item.class_date }} : {{ item.start_time }}
                        </div>
                        <div class="col-4">
                            <p class="mb-0 fw-bold">{{ item.category }}</p>
                            <p>{{ item.instructor }}</p>
                        </div>
                        <div class="col-4">
                            <p>£{{ item.price }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row fw-bold">
                <div class="col-8 text-end">
                    <p>Total:</p>
                </div>
                <div class="col-4">
                    <p>£{{ total }}</p>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12 text-center">
                    <a href="{% url 'view_bag' %}" class="btn btn-dark button-blue">Go To Bag <i class="fas fa-shopping-cart ms-2 me-0"></i></a>
                </div>
            </div>
        {% endif %}
    </div>
</div>