{% extends "base.html" %}

{% load static %}

{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/classes.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container container-header">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section id="content" class="container">
        <!-- Header -->
        <h1 class="display-3 text-center text-md-start ps-md-5 mt-5 mb-3">Class Booking - This Week</h1>
        <div id="results-container mb-5">
            <form id="date-form" action="{% url 'classes_this_week' %}" method="GET">
                <div class="row align-items-center g-0 mt-3">
                    <div class="col-12 col-md-6 text-center text-md-start">
                        <!-- Label for Date input -->
                        <div class="text-center text-md-start ps-md-5 my-3"><a class="btn btn-dark blue-button" href="{% url 'filter_single_classes' %}">Classes By Day</a></div>
                    </div>
                    <div class="col-12 col-md-6 text-center text-md-end">
                        <select class="form-select mx-auto mx-md-0 ms-md-auto" name="category_filter" id="category-filter-select" aria-label="Select what Category to filter the classes by">
                            <option selected hidden value="None">
                                {% if category_filter %}
                                    Showing {{ category_filter|title }} Classes
                                {% else %}
                                    Filter by...
                                {% endif %}
                            </option>
                            <option value="all">Show All</option>
                            {% for category in class_categories %}
                                <option value="{{ category.id }}">{{ category.friendly_name|title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
            <!-- Individual Class Display -->
            <div class="mt-4 mb-5">
                {% if classes|length > 0 %}
                    {% for date in days_with_classes %}
                        <h3>{{ date.text_date }}</h3>
                        {% for class in classes %}
                            {% if class.class_date == date.date %}
                                <div class="single-class-schedule-display text-center">
                                    <div class="row g-0 align-items-center">
                                        <div class="col-6 col-sm-4 col-md-2">
                                            <p class="d-xl-none"><strong>{{ class.start_time }}</strong></p>
                                            <p class="d-none d-xl-block"><strong>{{ class.start_time }} - {{ class.end_time }}</strong></p>
                                            <p class="d-xl-none">{{ class.duration|title }} mins</p>
                                        </div>
                                        <div class="col-6 col-sm-4 col-md-6">
                                            {% if class.remaining_spaces < 5 and class.remaining_spaces > 0 %}
                                                <div class="row g-0 align-items-center">
                                                    <div class="col-12 col-md-3"><p><strong>{{ class.category|title}}</strong></p></div>
                                                    <div class="col-12 col-md-3"><p>{{ class.instructor|title }}</p></div>
                                                    <div class="col-12 col-md-3"><p>{{ class.location|title }}</p></div>
                                                    <div class="col-12 col-md-3 text-danger fw-bold">
                                                            <p>{{ class.remaining_spaces }} Spaces!</p>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="row g-0 align-items-center">
                                                    <div class="col-12 col-md-3"><p><strong>{{ class.category|title}}</strong></p></div>
                                                    <div class="col-12 col-md-3 d-none d-md-block"><p>{{ class.instructor|title }}</p></div>
                                                    <div class="col-12 col-md-3 d-none d-md-block"><p>{{ class.location|title }}</p></div>
                                                    <div class="col-12 col-md-3"><p>£{{ class.price }}</p></div>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="col-12 col-sm-4 schedule-display-buttons mt-3 mt-sm-0 flex-lg-row">
                                            {% if class.closed %}
                                                <button class="btn btn-dark" disabled>Class Closed</button>
                                            {% elif class.unavailable %}
                                                <button class="btn btn-dark" disabled>Already Booked</button>
                                            {% elif class.remaining_spaces is 0 %}
                                                <button class="btn btn-danger" disabled>Fully Booked</button>
                                            {% else %}
                                                <form action="{% url 'add_single_class_to_bag' class.id %}" method="POST" class="form">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                                                    <button type="submit" class="btn btn-dark text-light bag-button">Add to Bag</button>
                                                </form>
                                            {% endif %}
                                            {% if user.is_superuser %}
                                                <a class="" href="#">Edit Class</a>
                                                <a class="" href="{% url 'delete_single_exercise_class' class.id %}">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    <div class="row">
                        <div class="col-12 text-center">
                            <p class="display-4">No Classes To Display</p>
                            <p>No classes are available. Please check the date and filter selected and try again.</p>
                        </div>
                    </div>
                {% endif %}
            </div>
            <!-- /Individual Class Display -->
        </div>
    </section>
{% endblock %}
