{% extends "base.html" %}

{% load static %}

{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/classes.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container container-header">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section id="content" class="container">
        <!-- Header -->
        <h1 class="display-3 text-center text-md-start ps-md-5 mt-5 mb-3">Class Booking - By Day</h1>
        <div id="results-container">
            <h3 class="text-center text-md-start ps-md-5 my-3"><a href="{% url 'classes_this_week' %}">Classes This Week</a></h3>
            <form id="date-form" action="{% url 'filter_single_classes' %}" method="GET">
                <div class="row align-items-center g-0 mt-3">
                    <div class="col-12 col-md-3 text-center text-md-start">
                        <!-- Label for Date input -->
                        <h3 class="text-md-end mb-0 me-2">Classes on </h3>
                    </div>
                    <div class="col-12 col-md-3">
                        <!-- date input - js change event hander calls function -->
                        <div class="my-3">
                            <input value="{{ date_filter }}" id="date-picker" name="date_filter" type="date" class="form-control" aria-label="Select the date you want to see classes for">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 text-center text-md-end">
                        <select class="form-select mx-auto mx-md-0 ms-md-auto" name="category_filter" id="category-filter-select" aria-label="Select what Category to filter the classes by">
                            <option hidden value="None">
                                {% if category_filter_name != '' %}
                                    Showing {{ category_filter_name|title }} Classes
                                {% else %}
                                    Filter by...
                                {% endif %}
                            </option>
                            <option value="all">Show All</option>
                            {% for category in class_categories %}
                                <option value="{{ category.id }}"
                                {% if category == category_filter.id %}
                                selected
                                {% endif %}
                                >{{ category.friendly_name|title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                <input type="text" name="previous_category_filter"  value="{{ category_filter.id }}" hidden readonly>
                </div>
            </form>
            <!-- Individual Class Display -->
            <div class="mt-4 mb-5">
                {% if classes|length > 0 %}
                    {% for class in classes %}
                        <div class="single-class-schedule-display text-center">
                            <div class="row g-0 align-items-center">
                                <div class="col-6 col-sm-4 col-md-2">
                                    <p class="d-xl-none"><strong>{{ class.start_time|title }}</strong></p>
                                    <p class="d-none d-xl-block"><strong>{{ class.start_time|title }} - {{ class.end_time|title }}</strong></p>
                                    <p class="d-xl-none">{{ class.duration|title }} mins</p>
                                </div>
                                <div class="col-6 col-sm-4 col-md-6">
                                    {% if class.remaining_spaces < 5 and class.remaining_spaces > 0 %}
                                        <div class="row g-0 align-items-center">
                                            <div class="col-12 col-md-3"><p><strong>{{ class.category|title}}</strong></p></div>
                                            <div class="col-12 col-md-3"><p>{{ class.instructor|title }}</p></div>
                                            <div class="col-12 col-md-3"><p>{{ class.location|title }}</p></div>
                                            <div class="col-12 col-md-3 text-danger fw-bold">
                                                    <p>{{ class.remaining_spaces }} Spaces!</p>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="row g-0 align-items-center">
                                            <div class="col-12 col-md-4"><p><strong>{{ class.category|title}}</strong></p></div>
                                            <div class="col-12 col-md-4"><p>{{ class.instructor|title }}</p></div>
                                            <div class="col-12 col-md-4"><p>{{ class.location|title }}</p></div>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-12 col-sm-4 schedule-display-buttons mt-3 mt-sm-0 flex-lg-row">
                                    {% if class.closed %}
                                        <button class="btn btn-dark text-white" disabled>Class Closed</button>
                                    {% elif class.unavailable %}
                                        <button class="btn btn-dark" disabled>Already Booked</button>
                                    {% elif class.remaining_spaces is 0 %}
                                        <p class="text-danger fw-bold">Fully Booked</p>
                                    {% else %}
                                        <form action="{% url 'add_single_class_to_bag' class.id %}" method="POST" class="form">
                                            {% csrf_token %}
                                            <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                                            <button type="submit" class="btn btn-dark text-light bag-button">Add to Bag</button>
                                        </form>
                                    {% endif %}
                                    <a class="" href="#">Edit Class</a>
                                    <a class="" href="#">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="row">
                        <div class="col-12 text-center">
                            <p class="display-4">No Classes To Display</p>
                            <p>No classes are available. Please check the date and filter selected and try again.</p>
                        </div>
                    </div>
                {% endif %}
            </div>
            <!-- /Individual Class Display -->
        </div>
    </section>
{% endblock %}
