{% extends "base.html" %}

{% load static %}

{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/classes.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container container-header">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section id="content" class="container">
        <h1 class="display-3 text-center text-md-start ps-md-5 mt-5 mb-3">
            {{ category.friendly_name|title }} 
            <!-- Information/Description Popover -->
            <button type="button" class="float-end me-md-5" data-bs-container="body" data-bs-trigger="hover focus"
                data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Add this to your Favourites List">
                <a href="#">
                    <i class="fa-regular fa-heart"></i>
                </a>
            </button>
        </h1>
        <div class="row g-0">
            <div class="col-12 col-lg-3 text-center">
                <img class="mx-auto px-md-2" id="single-category-image" src="{{ category.image_url }}" alt="Image of a {{ category.friendly_name }} class">
            </div>
            <div class="col-12 col-lg-9 text-center text-md-start">
                <p>{{ category.description }}</p>
                <p>Equipment Required: {{ category.equipment_required }}</p>
                <p>3.56 stars average rating from 40 reviews</p>
            </div>
            <div class="row g-0 pb-4 px-md-5">
                <div class="col-12 col-md-6 text-center text-md-start">
                    <a href="#">Update Class Category</a>
                </div>
                <div class="col-12 col-md-6 text-center text-md-end">
                    <a href="#">Delete Class Category</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <h4>Class Reviews</h4>
                </div>
                <div class="col-t12-col-md-6">
                    <a href="#" class="float-end">Write A Review</a>
                </div>
                <div class="col-12">
                    <table class="table table-striped mt-4 mb-5">
                        <thead>
                          <tr class="d-none d-md-table-row">
                            <th scope="col">Date</th>
                            <th scope="col">Username</th>
                            <th scope="col">Review</th>
                            <th scope="col">Rating</th>
                          </tr>
                          <tr class="d-md-none">
                            <th scope="col">Review</th>
                            <th scope="col">Rating</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td scope="row" class="d-none d-md-table-cell">03/11/2021</th>
                            <td class="d-none d-md-table-cell">Bob</td>
                            <td>What a great class</td>
                            <td>4/5 
                                <button type="button" class="float-end" data-bs-container="body" data-bs-trigger="hover focus"
                                    data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Delete Your Review">
                                    <a href="#">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}