{% extends "base.html" %}

{% load static %}

{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/classes.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container container-header">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section id="content" class="container">
        <h1 class="display-3 ps-5 mt-5 mb-3">Class Booking</h1>
        <div class="row">
            <div class="col-12 text-center">
                <form action="POST" method="">
                    <div class="my-3 mx-auto">
                        <input type="date" placeholder="Select a Date" class="form-control" aria-label="Select the date you want to see classes for">
                    </div>
                </form>
            </div>
        </div>
        <div id="results-container">
            <div class="row mt-3">
                <div class="col-12 col-md-6 text-center text-md-start">
                    <h3 class="mb-0">Classes on {{selected_date}}</h3>
                </div>
                <div class="col-12 col-md-6 text-center text-md-end">
                    <!-- Select Element from Bootstrap Documentation -->
                    <select class="form-select ms-auto" aria-label="Select a Class Category to filter the results by">
                        <option selected disabled hidden>Filter by...</option>
                        {% for category in class_categories %}
                            <option value="{{category.id}}">{{category.friendly_name}}</option>
                        {% endfor %}
                      </select>
                </div>
            </div>
            <!-- Table Element from Bootstrap Documentation -->
            <!-- Large View Width Table -->
            <div class="d-none d-md-block table-striped table-hover">
                <table class="table single-class-table mt-5">
                    <thead>
                      <tr class="d-none d-lg-table-row">
                        <th scope="col">Times</th>
                        <th scope="col">Class Type</th>
                        <th scope="col">Instructor</th>
                        <th scope="col">Location</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                        <th scope="col">Admin</th>
                      </tr>
                      <tr class="d-lg-none">
                        <th scope="col">Times</th>
                        <th scope="col">Class Type</th>
                        <th scope="col">Location</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                        <th scope="col">Admin</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for class in classes %}
                            <tr>
                                <td scope="row">{{ class.start_time|title }} - {{ class.end_time|title }}</td>
                                <td scope="row">{{ class.category|title }}</th>
                                <td class="row d-none d-lg-table-cell">{{ class.instructor|title }}</td>
                                <td scope="row">{{ class.location }}</td>
                                <td scope="row">£{{ class.price }}</td>
                                <td scope="row"><a class="btn btn-dark bag-button" href="">Add to Bag</a></td>
                                <td scope="row"><a href="#">Edit Class</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- Table Element from Bootstrap Documentation -->
        </div>
    </section>
{% endblock %}

<!-- {% block postloadjs %}
<script>
    $(document).ready( function() {
        $('#datePicker').val(new Date().toDateInputValue());
    });​
</script>
{% endblock %} -->