{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container container-header">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section id="content" class="container">
        <h1 class="display-3 text-center text-md-start ps-md-5 mt-5 mb-3">Update Class Category</h1>
        <h2 class="text-center text-md-start ps-md-5 mb-5">Fill out the form below to Update the Class Category called {{ category.friendly_name }}</h2>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <form action="{% url 'edit_class_category' category.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-center my-5">
                        <a href="{% url 'view_class_categories' %}" class="btn btn-dark">Cancel</a>
                        <button type="submit" class="btn btn-dark blue-button">Update Category</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}