{% extends "base.html" %}

{% load static %}

{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/classes.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container container-header">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section id="content" class="container g-0">
        <h1 class="display-3 text-center text-md-start ps-md-5 mt-5 mb-3">Our Classes</h1>
        <div class="class_category_container">
            <!-- Category Cards -->
            {% for category in class_categories %}
            <div class="class_catergory_card">
                <div class="row g-0 text-center">
                    <div class="col-12"><h4 class="pt-2">{{ category.friendly_name }}</h4></div>
                    <div class="col-12">
                        <div class="image-container d-flex justify-content-center">
                            <img src="{{ category.image_url }}" alt="Image of {{ category.friendly_name }}"></div>
                        </div>
                    <div class="col-6">Av. Rating: </div>
                    <div class="col-6"><i class="fa-regular fa-heart"></i></div>
                    <div class="col-12">
                        <a class="btn btn-dark mt-2" href="{% url 'view_single_class_category' category.id %}">View Class Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}