{% extends "base.html" %}

{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'classes/css/classes.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container container-header">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section id="content" class="container g-0">
        <h1 class="display-3 text-center text-md-start ps-md-5 mt-5 mb-3">Our Classes </h1>
        {% if user.is_superuser %}
            <div class="row">
                <div class="col-12 text-center text-md-end">
                    <a href="{% url 'add_class_category' %}" class="btn btn-dark blue-button">Add Class Category</a>
                </div>
            </div>
        {% endif %}
        <div class="class_category_container mb-5">
            <!-- Category Cards -->
            {% if class_categories|length > 0 %}
                {% for category in class_categories %}
                <div class="class_catergory_card">
                    <div class="row g-0 text-center">
                        <div class="col-12"><h2 class="pt-2">{{ category.friendly_name }}</h2></div>
                        <div class="col-12">
                            <div class="image-container d-flex justify-content-center">
                                {% if category.image_url %}
                                    <img src="{{ category.image_url }}" alt="Representation of a {{ category.friendly_name }} class"></div>
                                {% elif category.image %}
                                    <img src="{{MEDIA_URL}}{{ category.image }}" alt="Representation of a {{ category.friendly_name }} class"></div>
                                {% else %}
                                    <img src="{{MEDIA_URL}}no-image.jpg" alt="Representation of a {{ category.friendly_name }} class"></div>
                                {% endif %}
                            </div>
                        <div class="col-6">Av. Rating: {{ category.average_rating }}</div>
                        <div class="col-6">
                            {% if category.id in fav_categories %}
                                <form action="{% url 'remove_category_from_favs' category.id %}" method="POST" class="form">
                                    {% csrf_token %}
                                    <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                                    <button type="submit" data-bs-container="body" data-bs-trigger="hover focus"
                                    data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Remove from Favourite Categories"
                                    class="no-button" aria-label="Remove Category from Favourites List"><i class="fa-solid fa-heart text-danger"></i></button>
                                </form>
                            {% else %}
                                <form action="{% url 'add_category_to_favs' category.id %}" method="POST" class="form">
                                    {% csrf_token %}
                                    <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                                    <button type="submit" data-bs-container="body" data-bs-trigger="hover focus"
                                    data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Add to Favourite Categories"
                                    class="no-button" aria-label="Add Category to Favourites List"><i class="fa-regular fa-heart"></i></button>
                                </form>
                            {% endif %}
                        </div>
                        <div class="col-12">
                            <a class="btn btn-dark blue-button mt-2" href="{% url 'view_single_class_category' category.id %}" aria-label="View Details about {{ category.friendly_name }} classes">View Class Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="display-5 text-center">There are no Class Categories to display</h3>
                    {% if user.is_superuser %}
                        <h5>Why not add some...</h5>
                        <a href="{% url 'add_class_category' %}" class="btn btn-dark blue-button" aria-label="Add a new Class Category">Add Class Category</a>
                    {% else %}
                        <h5>Try again later or get in touch if this is a recurring issue</h5>
                    {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}