{% extends "base.html" %}

{% load static %}

{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/classes.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container container-header">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section id="content" class="container g-0">
        <h1 class="display-3 text-center text-md-start ps-md-5 mt-5 mb-3">Our Classes</h1>
        <div class="class_category_container">
            <!-- Category Cards -->
            {% for category in class_categories %}
            <div class="class_catergory_card">
                <div class="row g-0 text-center">
                    <div class="col-12"><h4 class="pt-2">{{ category.friendly_name }}</h4></div>
                    <div class="col-12">
                        <div class="image-container d-flex justify-content-center">
                            {% if category.image_url %}
                                <img src="{{ category.image_url }}" alt="Image of {{ category.friendly_name }}"></div>
                            {% elif category.image %}
                                <img src="{{MEDIA_URL}}{{ category.image }}" alt="Image of {{ category.friendly_name }}"></div>
                            {% else %}
                                <img src="{{MEDIA_URL}}no-image.jpg" alt="Image of {{ category.friendly_name }}"></div>
                            {% endif %}
                        </div>
                    <div class="col-6">Av. Rating: {{ category.average_rating }}</div>
                    <div class="col-6">
                        {% if category.id in fav_categories %}
                        <form action="{% url 'remove_category_from_favs' category.id %}" method="POST" class="form">
                            {% csrf_token %}
                            <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                            <button type="submit" type="button"  data-bs-container="body" data-bs-trigger="hover focus"
                            data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Remove from Favourite Categories"
                            class="no-button"><i class="fa-solid fa-heart"></i></button>
                        </form>
                    {% else %}
                        <form action="{% url 'add_category_to_favs' category.id %}" method="POST" class="form">
                            {% csrf_token %}
                            <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                            <button type="submit" type="button"  data-bs-container="body" data-bs-trigger="hover focus"
                            data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Add to Favourite Categories"
                            class="no-button"><i class="fa-regular fa-heart"></i></button>
                        </form>
                        {% endif %}
                    </div>
                    <div class="col-12">
                        <a class="btn btn-dark mt-2" href="{% url 'view_single_class_category' category.id %}">View Class Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}